## Final Project Submission

Please fill out:
* Student name: Marvin O. Agumba
* Student pace: Part Tme
* Scheduled project review date/time: February 2023
* Instructor name: 
* Blog post URL:

# Project Objective/Purpose:

To influence Microsoft New Movie Studio Leadership on the nature of movies to invest in pre-release.

__Step 1__: Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

__Step 2__: Exploring availabale datasets by first checking available columns in each of the datasets provided. This shall enable us to get a general understanding of the data & have a clear visualization of the final dataset we shall subject to analysis

In [15]:
titles = pd.read_csv('zippedData/imdb.title.basics.csv.gz')
titles.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [5]:
ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')
ratings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [6]:
revenues = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
revenues.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [16]:
#concatenated dataframe resulting in one large dataframe containing most contents
concat_df = [titles,ratings]
bigdata = pd.concat(concat_df)
bigdata.isna()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,True,True
3,False,False,False,False,True,False,True,True
4,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...
73851,False,True,True,True,True,True,False,False
73852,False,True,True,True,True,True,False,False
73853,False,True,True,True,True,True,False,False
73854,False,True,True,True,True,True,False,False
73855,False,True,True,True,True,True,False,False

In [21]:
bigdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 220000 entries, 0 to 73855
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           220000 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  float64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
 6   averagerating    73856 non-null   float64
 7   numvotes         73856 non-null   float64
dtypes: float64(4), object(4)
memory usage: 15.1+ MB

In [22]:
#feeling numeric columns with mean
columns =['runtime_minutes', 'averagerating', 'numvotes']
def fill_numeric_missing(data, cols):
    for col in cols:
        data[col].fillna(data[col].mean(), inplace=True)

fill_numeric_missing(bigdata, columns) 
missing_values(bigdata)

                Missing Values  Percentage(%)
genres                   79264       0.360291
original_title           73877       0.335805
primary_title            73856       0.335709
start_year               73856       0.335709

__Dealing with missing values__

In [23]:
bigdata.isna().sum()

tconst                 0
primary_title      73856
original_title     73877
start_year         73856
runtime_minutes        0
genres             79264
averagerating          0
numvotes               0
dtype: int64

In [ ]:
def missing_values(data):
    miss = data.isnull().sum().sort_values(ascending = False)
    percentage_miss = (data.isnull().sum() / len(data)).sort_values(ascending = False)
    missing = pd.DataFrame({"Missing Values": miss, "Percentage(%)": percentage_miss})
    missing.drop(missing[missing["Percentage(%)"] == 0].index, inplace = True)
    return missing
missing_data = missing_values(bigdata)
missing_data

In [ ]:
bigdata.plot('genres','runtime_minutes',kind='bar');